*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}

h1{
    color: purple;
    font-family: sans-serif;
    margin-bottom: 10px;
    
}
#page-title{
    font-family: Arial, Helvetica, sans-serif  /*se llman 3 pot si la computadora no tiene instalado la fuente*/
}
.title{
    font-size: 18px;
    font-family: monospace;
}
#main-nav{
    margin-top: 10px;
    list-style-type: none;
    margin-left: 0px;
}

#main-nav li{
    display: inline-block;
}