.main-nav{
    margin-top: 10px;
    list-style: none; /*remueve puntos de lista desordenada*/
    padding-left: 0;
    background-color: rgb(21, 93, 93); /*cambiar color de fondo*/
}
.main-nav_item{
    display: inline-block;
}
.main-nav_item a {
    color: white;
    padding: 5px;
    border-radius: 2px;
    text-decoration: none;/*para rmeover lineas que esta en el texto*/
}

/*pseudo clases*/
.main-nav_item a:hover { 
    color:blue; /*cmabio de color del texto*/
}